---
import "../assets/styles/style.scss";
import { SITE_NAME } from "../constants";
import Analytics from "../components/Analytics.astro";

type Props = {
  title: string;
  description: string | null;
  omitSiteName: boolean;
};

const { title, omitSiteName, description = null } = Astro.props;

const siteTitle = omitSiteName ? title : `${title} | ${SITE_NAME}`;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{siteTitle}</title>
    {description ? <meta name="description" content={description} /> : null}
    {isProd && <Analytics />}
    <meta name="generator" content={Astro.generator} />
    <script src="../assets/scripts/app.js"></script>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
